NODE_ENV=development
APP_NAME=ecom-mono
HOST=127.0.0.1
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=ecom_app
DB_PASSWORD=devpw
DB_NAME=ecom_mono
DB_URL=postgresql://ecom_app:devpw@localhost:5432/ecom_mono
