NODE_ENV=development
APP_NAME=ecom-mono
HOST=127.0.0.1
PORT=3000

DB_URL=postgresql://ecom_app:devpw@localhost:5432/ecom_mono

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN_15M=15m
JWT_ACCESS_EXPIRES_IN_1H=1h
JWT_ACCESS_EXPIRES_IN_7D=7d
JWT_ACCESS_EXPIRES_IN_30D=30d
