node_modules/
dist/
build/
.DS_Store
*.log
.idea/
.vscode/

.env
.env.*
!.env.example
!.env.test

# local database snapshots
db/dev
db/*.sql
db/*.dump

# =====================
# Allow migrations & seeds
# =====================
!db/migration/**
!db/seed/**

bin/act

.secret
