node_modules/
dist/
build/
.env
.DS_Store
*.log
.idea/
.vscode/
.env
.env.local
.env.docker
# local database snapshots
db/dev
db/*.sql
db/*.dump

# =====================
# Allow migrations & seeds
# =====================
!db/migration/**
!db/seed/**

bin/act
