node_modules/
dist/
build/
.env
.DS_Store
*.log
.idea/
.vscode/
.env.example
# local database snapshots
db/dev
db/*.sql
db/*.dump

# =====================
# Allow migrations & seeds
# =====================
!db/migration/**
!db/init/**
!db/seed/**
